* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "poppins", sans-serif; */
  font-family: 'adobe-clean', 'Adobe Clean', 'Trebuchet MS', sans-serif;
  color: #4e4e4e;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  /* color: #0af82e; */
}

/* .container {
  width: 100%;
  display: flex;
  height: 100%;
} */
.navigation {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background: #d5d5f4; */
  background: #FAFAFA;
  width: 100%;
  height: 100px;
  z-index: 5000;
  box-shadow: 0 0 20px 10px #c6c5c5bd;
  /* box-shadow: 0 0 20px 10px #d7d7f4; */
}

.nav-services {
  display: flex;
  position: relative;
}

.nav-services li {
  list-style: none;
  position: relative;
  font-size: 1.4rem;
  font-weight: 100;
  margin-left: 40px;

}

.nav-services li::after {
  content: "";
  position: absolute;
  left: 0px;
  width: 100%;
  height: 2px;
  bottom: -6px;
  border-radius: 10px;
  box-shadow: 0 0 9px 1px #242424;
  background: #242424;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s;
}

.nav-services li:hover:after {
  transform: scaleX(1);
  transform-origin: left;
}

/* color: #050543; previous color */
a {
  text-decoration: none;
  /* color: #242424; */
}

a#logo {
  display: flex;
  position: relative;
  left: 20px;
  width: 160px;
  height: 70px;
  overflow: hidden;
}

/* logo animation */
/* #logo::after {
  content: "";
  height: 90px;
  width: 200px;
  display: flex;
  top: 5px;
  left: 90px;
  position: absolute;
  background: #f2f2f2;
  border-left: 5px solid #242424;
  margin: 0px 100px;
  animation: back 2s ease-out infinite reverse;
} */
/* animation: run 1s ease infinite; */
/* @keyframes run {
  100% {
    transform: translateX(-120px);
  }
} */
/* @keyframes back {
  50% {
    transform: translateX(-200px);
  }
} */
.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-bar input {
  width: 300px;
  height: 50px;
  padding: 0 20px;
  font-size: 1.1em;
  border-radius: 5px;
  border: 1px solid #d1d0d0;
  background: #e4e3e3;
  /* background: #c9c9fd; */
  outline: #d1d0d0;
  position: relative;
}

.search-bar button {
  height: 50px;
  width: 50px;
  border-radius: 5px;
  background: #e4e3e3;
  border: 1px solid #d1d0d0;
}

.search-bar button:hover {
  background: #d9d8d8;
  cursor: pointer;
  transition: 0.5s;
}

.log-sig button {
  width: 100px;
  height: 40px;
  background: #e4e3e3;
  border: 2px solid #d1d0d0;
  border-radius: 8px;
  margin-right: 20px;
  /* color:#050543; */
  font-size: 1.1em;

}

.log-sig button:hover {
  background: #d9d8d8;
  cursor: pointer;
  transition: 0.5s;
}

.side-b {
  display: none;
}

/* sidebar-container */
.sidebar-container {
  display: none;
}

/* center content part */
.first-container {
  position: relative;
  height: 1000px;
  width: 100%;
  background: #fff;
  display: flex;
  align-items: center;
}

.template-container {
  position: absolute;
  top: 105px;
  width: 100%;
  height: 400px;
  /* background-color: #050543; */
  text-align: center;
  overflow-x: auto;
  white-space: nowrap;
  scroll-behavior: auto;
}

.template-container img {
  display: inline-block;
  height: 350px;
  width: 100%;
  margin: 5px 0px;
  transition: all;
  scroll-behavior: smooth;
  animation: scroll 20s ease-in-out infinite;
  border: none;
}

/* .box img{
  height: 100%;
  width: 100%;
  position: relative;
} */
::-webkit-scrollbar {
  display: none;
}

@keyframes scroll {
  20% {
    transform: translateX(-200%);
  }

}

.devices-box-icons span {
  display: flex;
  /* color: black; */
  font-size: 1.8em;
  width: 100%;
  top: -30px;
  left: 20px;
  position: relative;
}

.devices-box-icons {
  display: inline-block;
  width: 100%;
  height: 150px;
  flex-direction: column;
  top: 80px;
  /* left: 20px; */
  position: relative;
}

.icon-cont {
  position: absolute;
  display: flex;
  width: 100%;
  top: 20px;
  left: -30px;
  overflow-x: auto;
  white-space: nowrap;
  scroll-behavior: auto;
}

.devices-box-icons .fa-solid {
  font-size: 5.5em;
  margin-left: 50px;
  display: inline-block;
}

/* device-box-components */
.sensors {
  position: absolute;
  top: 700px;
  left: 20px;
  font-size: 30px;
  font-weight: 500;
}
.device-box-components {
  width: 100%;
  height: 300px;
  position: absolute;
  flex-direction: row;
  top: 700px;
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  scroll-behavior: auto;
  /* background-color: #c9aaaa; */
  /* overflow-y: hidden; */
}
.device-box-components a {
  display: inline-block;
  margin: 45px 0px;
  text-align: center;
  
}

@keyframes scroll2 {
  20% {
    transform: translateX(-100px);
  }
}
.device-box-components a li {
  animation: scroll2 10s ease-in-out infinite;
  list-style: none;
  height: 200px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 10px;
  background-color: #e6e6e6;
}

.device-box-components a li:hover {
  box-shadow: 0 0 20px 10px #cacaca;
  transition: 1s;
}
.device-box-components a li img:hover {
  scale: 130%;
  transition: 1s;
}


/* second container */
.second-container {
  display: flex;
  position: relative;
  width: 100%;
  height: 100vh;
  overflow-y: hidden;
}

.site-footer {
  width: 100%;
  background: #FAFAFA;
  height: 300px;
  position: absolute;
  bottom: 0px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

/* Reset default margin and padding */

.footer-logo img {
  position: absolute;
  top: 20px;
  left: 20px;
}

.footer-links {
  display: flex;
}

.fo-headings span {
  font-weight: 1000;
}

.footer-links li {
  /* display: flex; */
  list-style: none;
  padding: 10px 50px;
  /* background-color: #bfbfec; */
}

.footer-links a:hover {
  opacity: 50%;
  transition: 1s;
}

.footer-social {
  display: flex;
  position: relative;
  left: 0px;
  top: 60px;
  height: 30px;
  width: 500px;
  font-size: 1.1em;
}

.footer-social a {
  font-weight: 500;
  padding: 0px 10px;
}

.footer-social .fa-brands {
  padding: 0px 5px;
}

.footer-disclaimer {
  display: flex;
  position: absolute;
  bottom: 10px;
  right: 20px;
}

/* ################### Components CSS ############################ */
.main-components {
  width: 100%;
  height: 100vh;
  /* background: #d1d0d0; */
  display: grid;
  grid-template-columns: 1fr 5fr;
  position: relative;
  top: 100px;
}

#side-panel a li {
  list-style: none;
  padding: 20px 60px;
}

#side-panel {
  width: 250px;
  overflow-y: auto;
  white-space: nowrap;
  scroll-behavior: auto;
  padding: 20px 0px;
}

/* .main-components::-webkit-scrollbar{
  display: none;
} */
#components-container {
  height: auto;
  position: relative;
  overflow-y: auto;
  flex-wrap: wrap;
  scroll-behavior: auto;
  width: 100%;
  background: #FAFAFA;
  display: flex;
  flex-direction: row;
  /* white-space: nowrap; */
}

.device {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 200px;
  height: 200px;
  margin: 5px;
  background: #ffffff;
  overflow: auto;
}

.img-box {
  display: flex;
  justify-content: center;
  width: 200px;
  height: 150px;
  background-color: #e7e4e4;
}

/* ###########################*/
/* .newpage-ArduinoUNO-co{
  width: 100%;
  height: 100vh;
  background-color: transparent;
  display: flex;
  position: absolute;
  align-items: center;
} */

.ArduinoUNO-co {
  display: none;
  top: 0px;
  position: relative;
  overflow-y: auto;
  flex-wrap: wrap;
  scroll-behavior: auto;
  width: 1270px;
  height: 600px;
  background-color: #f2f1f1;
  border-radius: 10px;
  /* box-shadow: 0 0 30px 10px #e0e0e0; */
  z-index: 100;
}

.typesofboard {
  margin: 20px;
  align-items: center;
  justify-content: center;
  width: 80px;
  background: #FAFAFA;
  display: flex;
  flex-direction: column;
}
.typesofboard a {
  width: 100%;
  border: 1px solid #c8c8c8;
}
.img-price {
  position: absolute;
  top: 20px;
  left: 120px;
  width: 300px;
  height: 300px;
  background: #FAFAFA;
  border: 1px solid #c8c8c8;
}

.ArduinoUNO-co .img-price img {
  height: 100%;
  width: 100%;
}

.deviceinspection {
  width: auto;
  height: 600px;
  overflow: auto;
  overflow-x: hidden;
  scroll-behavior: auto;
  white-space: wrap;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0px;
  left: 380px;
}

/* ###################################### */
.device img {
  filter: drop-shadow(10px 10px 10px #c9aaaa);
}

.device .img-box img:hover {
  cursor: pointer;
  object-fit: cover;
  transition: 1s;
  scale: 1.2;
}

.some-item1 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: relative;
}

.some-item1 li {
  position: relative;
  left: 0px;
  top: 0px;
  font-weight: 200;
  list-style: none;
  padding: 8px 10px;
}

.some-item2 {
  display: flex;
  flex-direction: column;
  left: 200px;
  top: -170px;
  flex-wrap: wrap;
  position: relative;
}

.some-item2 li {
  white-space: wrap;
  font-weight: 200;
  list-style: none;
  padding: 8px 10px;
}

.about-items-details {
  position: relative;
  top: -150px;
}

.about-content {
  margin-top: 10px;
}

.about-content li {
  padding: 5px 0px;
}


/* ################################ zoomer css */
.piclist {
  margin-top: 30px;
  margin-left: 20px;
}

.piclist li {
  display: inline-block;
  width: 76px;
  height: 76px;
  /* margin: 1px; */
  border: 1px solid #cbcbcb;
}

.piclist li img {
  width: 100%;
  height: 100%;
}

.picZoomer img {
  width: 100%;
  height: 100%;
}

.picZoomer {
  width: 350px;
  height: 350px;
  /* background-color: #4e4e4e; */
  position: relative;
  left: 20px;
  top: 20px;
}

.picZoomer-pic-wp,
.picZoomer-zoom-wp {
  border: 1px solid #cbcbcb;
}

.picZoomer-pic-wp {
  position: absolute;
  overflow: hidden;
}

.picZoomer-pic-wp:hover .picZoomer-cursor {
  display:flex;
  right: 0px;
  top: 0px;
  position: absolute;
  /* background-color: #c9aaaa; */
}

.picZoomer-zoom-pic {
  position: absolute;
  top: 0;
  left: 0;
}

.picZoomer-pic {
  width: 400px;
  height: 400px;
  position: absolute;
  display: block;
}

.picZoomer-zoom-wp {
  display: none;
  position: absolute;
  z-index: 999;
  overflow: hidden;
}

.picZoomer-cursor {
  display: flex;
  cursor: crosshair;
  width: 100px;
  height: 100px;
  position:relative;
  top: 0;
  left: 500px;
  border-radius: 50%;
  border: 1px solid #eee;
  background-color: rgba(208, 59, 59, 0.333);
}

/* ################################ zoomer css */