/* this is maximum size */
@media(min-width:100px) and (max-width:1300px) {
  .search-bar {
    scale: 80%;
  }

  .log-sig button {
    display: none;
  }

  .sidebar-container {
    display: none;
    flex-direction: column;
    align-items: center;
    padding: 20px 0px;
    position: absolute;
    top: 100px;
    width: 100%;
    height: 330px;
    background: #f2f2f2;
    border-top: 2px solid #918f8f;
  }

  .side-log-sig button {
    width: 100px;
    height: 40px;
    background: #e4e3e3;
    border: 2px solid #d1d0d0;
    border-radius: 8px;
    margin-right: 20px;
    /* color:#050543; */
    font-size: 1.1em;
    position: relative;

  }

  .side-log-sig button:hover {
    background: #d9d8d8;
    cursor: pointer;
    transition: 0.5s;
  }

  .side-search-bar input {
    top: 10px;
    width: 300px;
    height: 50px;
    padding: 0 20px;
    font-size: 1.1em;
    border-radius: 5px;
    border: 1px solid #d1d0d0;
    background: #e4e3e3;
    /* background: #c9c9fd; */
    outline: #d1d0d0;
    position: relative;
  }

  .side-search-bar button {
    height: 50px;
    width: 50px;
    border-radius: 5px;
    background: #e4e3e3;
    border: 1px solid #d1d0d0;
  }

  .side-search-bar button:hover {
    background: #d9d8d8;
    cursor: pointer;
    transition: 0.5s;
  }

  .side-nav-services li {
    list-style: none;
    position: relative;
    font-size: 1.3rem;
    font-weight: 100;
    padding: 8px 0px;
    top: 20px;

  }

  .side-nav-services li::after {
    content: "";
    position: absolute;
    left: 0px;
    width: 100%;
    height: 2px;
    bottom: -6px;
    border-radius: 10px;
    box-shadow: 0 0 9px 1px #242424;
    background: #242424;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s;
  }

  .side-nav-services li:hover:after {
    transform: scaleX(1);
    transform-origin: left;
  }
  .footer-logo img {
    transition: 0.5s;
    scale: 80%;
    position: absolute;
    top: 10px;
    left: 10px;
  }
  .footer-links{
    position: relative;
    right: -100px;
    display: flex;
    width: 700px;
  }
  .footer-links li {
    list-style: none;
    padding: 10px 20px;
  }
  .footer-social {
    display: flex;
    position: relative;
    left: -300px;
    top: 40px;
    height: 30px;
    width: 500px;
    font-size: 1.1em;
  }
  
.footer-disclaimer {
  display: flex;
  position: absolute;
  bottom: 20px;
  right: 20px;
}

}

/* this is use for navbar contents, footer, nav buttons */
@media(min-width:100px) and (max-width:1100px) {
  .site-footer {
    position: absolute;
    display: flex;
    bottom: 0px;
  }

  button.side-b {
    width: 60px;
    height: 60px;
    background: #e4e3e3;
    border: 2px solid #d1d0d0;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3em;
    position: relative;
    right: 20px;
  }

  button.side-b:hover {
    background: #d9d8d8;
    cursor: pointer;
    transition: 0.5s;
  }

  .nav-services,
  .search-bar input,
  .search-bar button,
  .log-sig button {
    transition: 1s;
    display: none;
  }

  .footer-social {
    position: relative;
    top: 10px;
    transition: 1s;
    left: 80px;
  }
  .footer-disclaimer {
    position: relative;
    top: 60px;
    left: 60px;
  }
  

}

@media(min-width:360px) and (max-width:990px) {
  .footer-logo {
    scale: 80%;
    position: absolute;
    top: 5px;
    left: 10px;
    transition: 2s;
  }
  .site-footer {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0px;
    transition: 0.5s;
  }
  
  .footer-links{
    position: relative;
    top: -40px;
    display: flex;
    width: 700px;
  }
  .footer-social {
    position: absolute;
    display: flex;
    top: 220px;
    left: 300px;
  }
  .footer-disclaimer {
    position: absolute;
    top: 250px;
    left: 340px;
    
  }
}
@media (min-width:100px) and (max-width:460px) {
  .template-container {
    position: absolute;
    top: 105px;
    width: 100%;
    height: 200px;
    text-align: center;
    overflow-x: auto;
    white-space: nowrap;
    scroll-behavior: auto;
  }

  .template-container img {
    display: inline-block;
    height: 175px;
    width: 100%;
    margin: 5px 0px;
    transition: all;
    scroll-behavior: smooth;
    animation: scroll 20s ease-in-out infinite;
    border: none;
  }

  .devices-box-icons {
    display: inline-block;
    width: 100%;
    height: 150px;
    flex-direction: column;
    top: -90px;
    position: relative;
  }

  .devices-box-icons span {
    display: flex;
    font-size: 1em;
    font-weight: 1000;
    width: 100%;
    top: -30px;
    left: 20px;
    position: relative;
  }

  .icon-cont {
    position: relative;
    display: flex;
    width: 100%;
    top: 10px;
    left: -30px;
  }

  .devices-box-icons .fa-solid {
    font-size: 2.5em;
    margin-left: 50px;
    display: inline-block;
  }

  /* device-box-components */
  .device-box-main-components{
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 160px;
    top: 430px;
  }
  .device-box-components {
    width: 100%;
    height: 150px;
    position: relative;
    flex-direction: row;
    top: -10px;
    display: flex;
    overflow-y: hidden;
    overflow-x: auto;
    white-space: nowrap;
    scroll-behavior: auto;
    /* overflow-y: hidden; */
  }
  #img-device{
    width: 50%;
    height: 50%;
  }
  .device-box-main-components span{
    position: absolute;
    top: 5px;
    left: 20px;
    font-size: 1rem;
    font-weight: 1000;
  }
  .device-box-components a {
    display: inline-block;
    margin: 45px 0px;
    text-align: center;
  }
  .device-box-components a li{
    animation: scroll2 10s ease-in-out infinite ;
    list-style: none;
    height: 100px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 10px;
    background-color: #e6e6e6;
  }
  /* drone frame container */
  .drone-frmas-main-container{
    z-index: 100;
    width: 100%;
    height: 160px;
    position: absolute;
    /* display: inline-block; */
    top:580px;
  }
  .drone-frmas-main-container span{
    position: relative;
    top: 10px;
    left: 20px;
    font-size: 1rem;
    font-weight: 1000;
  }
  .drone-frmas-container{
    /* background-color: #c9aaaa; */
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: row;
    position: relative;
    flex-wrap: nowrap;
    overflow-x: auto;
    scroll-behavior: auto;
    top: -10px;
    /* top: 1100px; */
    cursor: pointer;
    
  }
  .drone-frmas-container a{
    margin: 16px 0px;
  
  }
  .drone-frmas-container a img{
    height: 25%;
    width: 25%;
  }
  .drone-frmas-container a li{
    animation: scroll2 10s ease-in-out infinite reverse;
    background-color: #e6e6e6;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 10px ;
  }
  .drone-frmas-container a li:hover{
    box-shadow: 0 0 20px 10px #cacaca;
    transition: 1s;
  }

  .site-footer {
    display: flex;
    position: absolute;
    width: 100%;
    height: 250px;
    /* background-color: rgb(225, 192, 255); */
    overflow: hidden;
  }

  .footer-logo {
    scale: 50%;
    position: absolute;
    top: 5px;
    left: 5px;
    transition: 2s;
  }

  .footer-links {
    position: absolute;
    width: 250px;
    top: 70px;
    left: 20px;

  }

  .footer-links .about li {
    left: 0px;
    padding: 3px 10px;
    font-size: 12px;
  }

  .footer-social {
    font-size: 12px;
    top: 190px;
    left: 0px;
    position: absolute;

  }

  .footer-disclaimer {
    position: absolute;
    top: 230px;
    left: 10px;
    font-size: 10px;
  }
}
